body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(287.15deg, #EFAFBC 0%, #C3E3FA 100%);
}
.header-container {
    position: relative;  /* Establishes a positioning context */
}

.gradient-background {
    background: linear-gradient(287.15deg, #EFAFBC 0%, #C3E3FA 100%);
    height: 150px;  /* You can adjust this to your desired height */
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* Ensure the nav is on top of the gradient */

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}


.Essence-Boutique{
    font-size: 24px;
    font-weight: bold;
    color: #FF5775;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    margin: 0 10px;
    padding: 20px 20px;
}




nav a {
    font-family: 'Pompiere', sans-serif; 
    font-size: 30px;
    text-decoration: none;
    display: inline-block; /* This ensures that width and height properties apply to inline elements like <a> */
    color: #EFAFBC;
    padding: 10px 10px;
    border-radius: 100px;
    transition: text-decoration 0.3s, color 0.3s; /* Added transition for text-decoration */
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #EFAFBC;
}


.content{
    padding: 20px;
}
.buy-now-button {
    display: inline-block;
    background-color: white;
    color: #EFAFBC; /* Text color */
    padding: 10px 20px;
    border-radius: 50px; /* This makes it rounded */
    text-decoration: none; /* Removes the default underline of links */
    font-weight: bold;
    margin-top: 20px; /* Space between the text and the button */
    box-shadow: 0 0 10px rgba(173, 216, 230, 0.5); /* This will give a slight blue glow */
    transition: box-shadow 0.3s ease; /* Makes the glow transition smooth */
}

.buy-now-button:hover {
    box-shadow: 0 0 15px rgba(173, 216, 230, 0.8); /* Intensifies the blue glow on hover */
}
.social-media-icons {
    margin-top: 20px; /* Space between the button and the icons */
    display: flex;
    justify-content: left; /* Center align the icons */
}

.social-icon {
    margin: 0 10px; /* Adds some space between each icon */
    text-decoration: none;
    font-size: 24px; /* Adjust this value to make the icons bigger or smaller */
    color: #000; /* Initial color of the icons */
    transition: color 0.3s ease; /* Makes the color change transition smooth */
}

.social-icon:hover {
    color: #D6405A; /* Changes the color when hovered */
}

.modal{
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.close-btn{
    cursor: pointer;
    float: right;
}

@media (max-width: 768px){
    nav{
        flex-direction: column;
        align-items:flex-start;
    }

    nav ul{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    nav li{
        margin: 5px 0;
    }

    .Essence-Boutique{
        margin-bottom: 10px;
    }
}

/* New CSS for specified styles */

h3 {
    font-family: 'Road Rage';
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.27em;
    text-align: left;
}
.essence-text {
    font-family: 'Permanent Marker', sans-serif;  /* Include a fallback font for better compatibility */
}

.welcome-text {
    font-family: 'Rock Salt', sans-serif;  /* Include a fallback font for better compatibility */
}


h2 {
    /* Style 1: */
    font-family: 'Permanent Marker';
    color: #D6405A;
    font-size: 64px;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: 0.05em;
    text-align: left;
}
.content h5 {
    font-family: Montserrat, sans-serif; /* Added a fallback font in case Montserrat doesn't load */
    font-size: 24px;
    color: #D6405A;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}





